/* General, Nav */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  color: #fff;
  z-index: 999;
  box-shadow: 0px 4px 12px #cccccc;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  color: black;
  font-family: Avenir;
  padding: 1em;
  text-align: center;
  float: right;
  margin: auto;
  /*width: 10%;*/
  vertical-align: middle;
}

.nav a:hover {
  color: #6b412a;
}

#cart {
  width: 20px;
}

#wish-icon {
  width: 20px;
  padding-left: 5px;
}

.active {
  color: #6b412a;
}

#home-button {
  color: #6b412a;
  float: left;
  text-align: left;
  vertical-align: middle;
}

#logo {
  width: 30px;
  padding-right: 10px;
  /*top: 5;*/
  /*position: absolute;*/
}

#logo-link {
  padding-right: 0;
  margin-right: 0;
}

#home-link {
  padding-left: 0;
  margin-left: 0;
}

/* Home page */

.home-img {
  width:100%;
}

.homepage {
  position: relative;
  width: 100%;
  /*height: 100%;
  /*top: 100;*/
  /*bottom: 0;*/
}

.home-text {
  position: absolute;
  font-family: Avenir;
  color: white;
  /*padding: 5px;*/
  bottom: 50%;
  left: 60%;
  text-shadow: 0px 4px 10px #565656;
  /*background-color: #fff;*/
  vertical-align: text-top;
}

.home-text b {
  margin-bottom: 50px;
}

#order-now {
  background-color: transparent;
  border: 3px solid #fff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Avenir;
  color: #fff;
  border-radius: 4px;
  text-shadow: 0px 4px 10px #565656;
  box-shadow: 0px 4px 12px #cccccc;
}

.reviews {
  position: relative;
  text-align: center;
  font-family: Avenir;
  padding: 20px;
}

.review-img {
  width: 30%;
  display: inline-block;
}

.review-img img {
  width: 100%;
}

.content {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  font-family: Avenir;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* Products List Page */

.prod {
  width: 30%;
  height: 100%;
  display: inline-block;
  position: relative;
  text-align: left;
}

.product-col {
  box-shadow: 0px 4px 12px #cccccc;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  position: relative;
}

.one {
  margin-right: 2%;
  float: left;
}

.two {
  margin-left: 2%;
  margin-right: 2%;
}

.three {
  margin-left: 2%;
  float:right;
}

.product-col img {
  width: 75%;
  /*height: 75%;*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  margin-top: 40px;
  /*padding-bottom: auto;*/
}

.orig-img {
  padding-bottom: 12%;
}

#glut-img {
  margin-top: 15%;
  margin-bottom: 15%;
}

#pump-img {
  margin-top: 10%;
}

.product-name {
  display: inline-block;
  width: 27%;
  min-width: 300px;
  text-align: left;
}

/* Product Detail Page */

.item-details {
  display: block;
}

.product-img {
  width: 40%;
  display: inline-block;
  margin-right: 4%;
}

.item {
  box-shadow: 0px 4px 12px #cccccc;
  text-align: center;
}

.item img {
  width: 75%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.details {
  display: inline-block;
  width: 50%;
  margin-left: 4%;
  padding-top: 50px;
  /*float: right;*/
}

.details p {
  font-size: 13px;
}

#add-to-cart {
  background-color: #6b412a;
  border: none;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Avenir;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}

#wish-button {
  background-color: #c1c1c1;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: Avenir;
  font-weight: 800;
  color: #fff;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.glazes input {
  margin-right: 17px;
  margin-left: 17px;
  margin-bottom: 7px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

}

.glazes p {
  font-size: 9px;
}

.none {
  background-color: #bbb;
}

.sugar {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #b2b2b2;
}

.vanilla {
  background-color: #efddac;
}

.choco {
  background-color: #685342;
}

.preview {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: 0px 4px 12px #cccccc;
  position: relative;
}

.preview img {
  width: 100%;
  position: absolute;
  /*height: 100%;*/
}

.shown {
  border: 3px solid #fff;
}

/* CART PAGE */

.cart-items {
  width: 60%;
  display: inline-block;
  position: relative;
  padding-left: 5%;
  padding-right: 2.5%;
  padding-top: 50px;
  font-family: Avenir;
  margin: 0;
}

.cart-items h4 {
  float: right;
}

#order-summary {
  width: 20%;
  display: inline-block;
  position: relative;
  padding: 7px;
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 50px;
  font-family: Avenir;
  float: right;
  border-style: solid;
  border-width: 1px;
}

.count-bubble {
  margin-left: 10px;
  background: #ed1d24;
  color: #fff;
  padding: 2px;
}

.table-style th {
  /*padding-left: 10%;*/
  /*padding-right: 10%;*/
  width: 5%;
}

.table-style td {
  width: 5%;
}

.cart-image {
  width: 90%;
}

.cart-image img {
  width: 90%;
  padding: 5px;
}

.cart-glaze {
  font-size: 12px;
}

td {
  align-content: center;
  text-align: center;
}

#checkout {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: #a05608;
  color: #ffffff;
  font-weight: 800;
  font-size: 15px;
  width: 100%;
}

.red {
  color: red;
}